body{
    background-color: rgb(13, 75, 78)
}
h1{
    color: rgb(192, 181, 33);
    font-size: 500%;
    text-align: center;
    padding-top: 25%;
    padding-bottom: 30%;
}
h2{
    color: rgb(0, 0, 0);
    font-size: 200%;
}
h3{
    color: rgb(192, 181, 33);
    font-size: 200%;
    padding-bottom: 4pt;
    padding-top: 4pt;
}
h4{
    color: rgb(0, 0, 0);
    font-size: 100%; 
}
h5{
    color: rgb(0, 0, 0);
    font-size: 100%;
    padding-bottom: 3%;
}
a{
    display: block;
}


.sumario{
    
    position: fixed;
    bottom: 5%;
    left: 2%;
    z-index: 1;
}
.hide {
    display: none; 
}

.sumario:hover + .hide {
    display: inline-block;
    position: fixed;
    color: rgb(37, 37, 37);
    font-size: 100%;
    background-color: honeydew;
    bottom: 5%;
    z-index: 1;
    margin-left: 10%;
    padding: 20 20 20 20;


}
.hide:hover{
    display: inline-block;
    position: fixed;
    color: rgb(37, 37, 37);
    font-size: 100%;
    background-color: honeydew;
    bottom: 5%;
    z-index: 1;
    margin-left: 10%;
    padding: 20 20 20 20;
  
}
img:hover {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
.Realismo{
    margin-left: 30%;
    padding-top: 100pt;
    padding-bottom: 100pt;
}

.Oqueemoderno{
    margin-left: 10%;
    padding-top: 100pt;
    padding-bottom: 100pt;
}

.ImpressionismoI{
    margin-left: 20%;
    padding-top: 100pt;
    padding-bottom: 100pt;
}

.ImpressionismoII{
    margin-left: 30%;
    padding-top: 100pt;
    padding-bottom: 100pt;
}

.Pos-ImpressionismoI{
    margin-left: 40%;
    padding-top: 100pt;
    padding-bottom: 100pt;
}

.Pos-ImpressionismoII{
    margin-left: 50%;
    padding-top: 100pt;
    padding-bottom: 100pt;
}

.IniciodaEsculturaModerna{
    margin-left: 60%;
    padding-top: 100pt;
    padding-bottom: 100pt;
}
    
.Simbolismo{
    margin-left: 20%;
    padding-top: 100pt;
    padding-bottom: 100pt;
}
    
.ArtNouveau{
    margin-left: 40%;
    padding-top: 100pt;
    padding-bottom: 100pt;
}
.legenda{
    font-size: 150%;
}
.icone{
    width: 10%;
}
img{
    height: 40%;
}